* {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

body {
    background: #599CE7;
}

header {
    font-size: 32px;
    text-align: center;
    padding: 20px;
}

input {
    font-size: 22px;
}

.inputContainer {
    background: #D7DDE4;
    text-align: center;
    font-size: 22px;
    padding: 20px;
    max-width: 350px;
    padding-bottom: 20px;
    margin: auto;
}

ul {
    list-style: none;
}

ul li {
    padding: 10px;
    background: #D7DDE4;
    font-size: 18px;
    text-align: left;
}

#nameLabel {
    padding-right: 10px;
}

#submitButton {
    font-size: 20px;
    border-radius: 10px;
    border-color: black;
}

#peopleList {
    padding: 20px;
    background-position: center;
    max-width: 450px;
    margin: auto;
    overflow: hidden;
}
